
/* Typography */
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background: var(--color-primary);
    color: #fff;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-dark: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}


h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    
}

p{
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: " -->";
    margin-left: 5px;
    transition: margin 0.2s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}


/* Badges */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
}

.badge--small {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
}

.badge--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.badge--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}


@media screen and (min-width: 768px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.5rem;
    }
}


/* Lists */

.list {
    list-style: none;
    padding-left: 2rem;
    color: var(--color-headings);

}

.list--inline.list__item {
    display: inline-block;
    margin-right: 1rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 4rem;

}

.list--tick.list__item {
    padding-right: 0.5rem;
    padding-left: 1.8rem;
    margin-bottom: 1rem;

}

@media screen and (min-width: 768px) {
    .list--tick.list__item {
        padding-right: 0;
    }
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.icon-container--accent {
    background: var(--color-accent);
}


/* Buttons */

.btn {
    border-radius: 40px;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    /* height: 5.7rem; */
    border: 0;
    width: 15rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0rem;
    
    
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn--outline {
    background-color: transparent;
    color: var(--color-headings);
    border: 2px solid var(--color-primary);
}

.btn--streched {
    padding-left: 8rem;
    padding-right: 8rem;
}

.btn--outline:hover {
    background-color: var(--color-headings);
    color: #fff;
    border: 0;
}

.btn--primary {
    background-color: var(--color-primary);
    color:#fff

}



.btn--primary:hover {
    background-color: var(--color-headings);
    
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
    
}

.btn--secondary:hover {
    background-color: #00c8eb;

}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
    
}
.btn--accent:hover {
    background-color:#be2a05 ;
    color: #fff;
    
}

.btn--inline {
    background-color: var(--color-accent);
    display: inline-block;
    margin: 1rem;
    width: 17rem;
    color: #fff;
}

.btn--block {
    display: inline-block;
    width: 100%;
}

@media  screen and (min-width: 768px) {
    .btn {
        font-size: 1rem;
    }
}


/* inputs */

.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3rem;  
}

::placeholder {
    color: var(--color-border);
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 6rem;
}

.input-group .btn {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .input {
        font-size: 1.5rem;
    }
}


/* Cards */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card__header, .card__body {
    padding: 1rem 2.4rem;
}

.card--primary .card__header {
    background-color: var(--color-primary);
    color:#fff;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
    color: #fff;
}

.card--secondary .badge--secondary {
    background-color: #02cdf1;
}
.card--primary .badge--primary {
    background-color: #026af1;
}


/* Plans */

.plan {
    transition: transform .4s ease-out;
}

.plan__name {
    margin: 0rem ;
    color: #fff;
    font-weight: 500;
    font-size: 2.4rem;

}

.plan__price {
    font-size: 6rem;

}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}


.plan__description {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: inline-block;
}

.plan .list__item {
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}

.plan .btn--block {
    margin-top: 3rem;
}

.plan--popular {
    transform: scale(1.1);
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/star.jpg);
    width: 10px;
    position: absolute;
    right: 10%;
    top: -2px

}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}

@media screen and (min-width: 768px) {
    .plan__name {
        font-size: 2rem;
    }
    .plan__price {
        font-size: 5rem;
    }
    .plan__billing-cycle {
        font-size: 2rem;
    }
    .plan__description {
        font-size: 1.5rem;
    }
    
}


/* Media */

.media {
    display: flex;
    margin-bottom: 4rem;

}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 1.5rem;
}

.media__image {
    margin-top: 1rem;
}


/* Quotes */

.quote {
    font-size: 3rem;
    
    color: var(--color-body-dark);
    line-height: 1.3;
}

.quote__text {
    font-style: italic;
}

.quote__text::before {
    content: '“';
}

.quote__text::after {
    content: '”';
}

.quote__author {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.quote__company {
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.4;
    color: var(--color-headings);
}

.quote__line {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .quote {
        font-size: 2.5rem;
    }
   
    .quote__author {
        font-size: 3rem;
    }
    .quote__company {
        font-size: 2rem;
    }
}


/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (min-width: 1024px) {

    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Testimonial */
.testimonial {
    padding: 3rem;
}



.testimonial__image  {
    position: relative;
}

.testimonial__image > .icon-container {
    position: absolute;
    right: -32px;
    top: 13px;
    border-radius: 50px;
}

.testimonial__image > img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .testimonial .quote, 
    .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote {
        margin-left: 8rem;
    }
}

/* Callout */


.callout {
    padding: 3rem;
    border-radius: 5px;
}

.callout--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.callout__title {
    color: #fff;
    margin-top: 0;
}

.callout .btn {
    justify-self: center;
    align-self: center;

}

.callout__content {
    text-align: center;
}


@media screen and (min-width:768px) {

    .callout .grid--1x2 {
        grid-template-columns: 1fr, auto;

    }


    .callout__content {
        text-align: left;
    }

    .callout .btn {
        justify-self:start;
        margin: 0 2rem;
    }
    
}

/* Collapsibles */

.collapsible {
    padding: 1rem 2rem;
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Blocks */

.block {
    --padding-vertical: 5rem;
    padding: var(--padding-vertical) 3rem;
    /* border: 1px solid tomato; */
}

.block--dark {
    background: black;
    color: #fff;
}

.block--dark .block--heading {
    color: #fff;
}


.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 5rem);
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 100%, 
        0 90%
    );
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 5rem);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 90%,
        0% 100%
    );
}

.block__header {
    text-align: center;
}

.block--container {
    max-width: 1140px;
    margin: 0 auto;
}




/* Navbar */

.nav {
    display: flex;
    background: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;

}

.nav__item {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #222;
}


.nav__item > a {
    color: #fff;
    transition: color 0.3s;
} 

.nav__item > a:hover {
    color: var(--color-primary);

} 

.nav__toggler {
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__item {
        font-size: 1.5rem;
        border-bottom: 0;
    }

    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 100%;
        opacity: 1;
    }
}

/* Hero */

.hero {
    clip-path: polygon(
        0 0,
        100% 0,
        100% 90%,
        0% 100%
    );
}

.hero__header {
    color: #fff;
    font-size: 6rem;
}

.hero__tagline {
    color: #b9c3bf;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }


    .hero__header {
        font-size: 5rem;
    }

    .hero__content {
        text-align: left;
        align-self: center;
    }

    .hero__tagline {
        font-size: 1.8rem;
    }
}


/* block-domain or domain-block */

.block-domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebe6;
    border: 0;
    margin: 4rem 0;
    max-width: 670px;
    margin: 4rem auto;
}

.block-domain__prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 770px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}


/* Plans Block */

.block-plan .grid {
    gap: 8rem 4rem;
}


.block-plan .plan {
    margin: 0 auto;
    max-width: 500px;
}


.block-plan .plan:hover {
    /* height: 60rem; */
}

@media screen and (min-width: 768px) {
    


}


/* Features Block */

.feature-block .grid {
    padding-bottom: 10rem;
}

.feature{
    gap: 8rem 2rem
}


.feature-block__image {
    width: 100%;
}

.feature-block__container {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content {
        order: 2;
    }
    
}

/* Showcase block */

.showcase{
    /* align-content: center; */
}
.showcase__image {
    width: 100%;
    /* align-self: center; */
}

.showcase__content {
    /* margin: 0 auto;
    padding: 5rem 0rem;
    font-size: 1.6rem;
    color: #7b858b; */
}

.showcase__content > li {
    color: #7b858b;
}

.showcase__header {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .showcase .grid {
        grid-template-columns: 50% 50%;
    }

    .showcase__image {
        width: auto;
        max-width: 700px;
        justify-self: end;
    }
}
    

    


    
    

    
    

    




    
