<!-- @format -->

<section class="block block--container">
	<header class="block__header">
		<h2 class="block--heading">Cloud hosting</h2>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quo enim
			tempora vitae praesentium molestias quis similique repudiandae natus
			blanditiis!
		</p>
	</header>
</section>
<section class="block block--dark block--skewed-right">
	<div class="block--container">
		<header class="block__header">
			<h2 class="block--heading">Cloud hosting</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quo enim
				tempora vitae praesentium molestias quis similique repudiandae natus
				blanditiis!
			</p>
		</header>
	</div>
</section>
