    <div class="card card--primary">
        <header class="card__header">
            Card Header
        </header>
        <div class="card__body"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quia ex officiis perspiciatis impedit maiores, unde tempora, ipsa aliquam rerum ut beatae? Obcaecati earum porro excepturi tenetur, necessitatibus est numquam, cum at id odit esse consequatur modi nisi voluptatem facere pariatur qui quia harum quae illo atque animi. Neque, nisi.</div>
    </div>
    <div class="card card--secondary">
        <header class="card__header">
            Card Header
        </header>
        <div class="card__body"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quia ex officiis perspiciatis impedit maiores, unde tempora, ipsa aliquam rerum ut beatae? Obcaecati earum porro excepturi tenetur, necessitatibus est numquam, cum at id odit esse consequatur modi nisi voluptatem facere pariatur qui quia harum quae illo atque animi. Neque, nisi.</div>
    </div>