<!-- @format -->
<!-- not expanded collapsible -->
<div class="collapsible">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">Products</h2>

		<svg class="icon icon--primary collapsible__chevron">
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
			distinctio error, quis eos accusamus vero ratione provident laborum itaque
			doloribus porro, molestias nemo modi. Animi magni labore possimus rerum.
		</p>
	</div>
</div>

<!-- an expanded collapsible -->
<div class="collapsible collapsible--expanded">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">Products</h2>

		<svg class="icon icon--primary collapsible__chevron">
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
			distinctio error, quis eos accusamus vero ratione provident laborum itaque
			doloribus porro, molestias nemo modi. Animi magni labore possimus rerum.
		</p>
	</div>
</div>
<script src="js/main.js"></script>
