<!-- @format -->

<section class="block block--container block-domain">
	<header class="block__header">
		<h2>The best webhost starting at per month</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
			nemo?
		</p>
	</header>
	<div class="input-group">
		<input class="input" type="text" placeholder="Enter domain name here..." />

		<button class="btn btn--accent">
			<svg class="icon icon--white">
				<use xlink:href="images/sprite.svg#search"></use>
			</svg>
			Search
		</button>
	</div>
	<ul class="list block-domain__prices">
		<li>.com $9</li>
		<li>.net $25</li>
		<li>.xyz $5</li>
		<li>.co $30</li>
		<li><span class="badge badge--secondary">.us $90</span></li>
		<li>.gb-en $90</li>
	</ul>
</section>
