<!-- @format -->

<section class="block block--container feature-block">
	<header class="block__header">
		<h2>Host on the cloud with ease</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, cupiditate?
		</p>
	</header>
	<div class="feature-block__container">
		<article class="grid grid--1x2 feature">
			<div class="feature__content">
				<span class="icon-container">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</span>
				<h3>Super Easy to use</h3>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
					nam repellendus explicabo. Possimus perspiciatis, soluta accusamus
					ducimus suscipit impedit aliquam iure fugit similique at maiores
					nobis? Tenetur incidunt esse deleniti?
				</p>
				<a class="link-arrow" href="#">learn more</a>
			</div>
			<img class="feature-block__image" src="images/easy.jpg" alt="" />
		</article>
		<article class="grid grid--1x2 feature">
			<div class="feature__content">
				<span class="icon-container">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#computer"></use>
					</svg>
				</span>
				<h3>Simply fast websites</h3>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
					nam repellendus explicabo. Possimus perspiciatis, soluta accusamus
					ducimus suscipit impedit aliquam iure fugit similique at maiores
					nobis? Tenetur incidunt esse deleniti?
				</p>
				<a class="link-arrow" href="#">learn more</a>
			</div>
			<img class="feature-block__image" src="images/fast.jpg" alt="" />
		</article>
		<article class="grid grid--1x2 feature">
			<div class="feature__content">
				<span class="icon-container">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</span>
				<h3>Wordpress made easy</h3>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
					nam repellendus explicabo. Possimus perspiciatis, soluta accusamus
					ducimus suscipit impedit aliquam iure fugit similique at maiores
					nobis? Tenetur incidunt esse deleniti?
				</p>
				<a class="link-arrow" href="#">learn more</a>
			</div>
			<img class="feature-block__image" src="images/wordpress.jpg" alt="" />
		</article>
		<article class="grid grid--1x2 feature">
			<div class="feature__content">
				<span class="icon-container">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</span>
				<h3>24/7 Expert support</h3>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
					nam repellendus explicabo. Possimus perspiciatis, soluta accusamus
					ducimus suscipit impedit aliquam iure fugit similique at maiores
					nobis? Tenetur incidunt esse deleniti?
				</p>
				<a class="link-arrow" href="#">learn more</a>
			</div>
			<img class="feature-block__image" src="images/support.jpg" alt="" />
		</article>
	</div>
</section>
