<!-- @format -->

<nav class="nav collapsible">
	<a href="/"><img src="images/logo.svg" /></a>
	<svg class="icon icon--white nav__toggler">
		<use xlink:href="images/sprite.svg#menu"></use>
	</svg>
	<ul class="list nav__list collapsible__content">
		<li class="nav__item"><a href="#">HOSTING</a></li>
		<li class="nav__item"><a href="#">VPS</a></li>
		<li class="nav__item"><a href="#">DOMAIN</a></li>
		<li class="nav__item"><a href="#">PRICING</a></li>
	</ul>
</nav>
<script src="js/main.js"></script>
