		<section class="block block--dark block--skewed-right showcase">
			<header class="block__header">
				<h2 class="block--heading showcase__header">User Friendly Control Panel</h2>
			</header>
			<div class="block--container grid grid--1x2 showcase ">
				<img src="images/ipad.png" alt="" class="showcase__image" />
				<ul class="list showcase__content">
					<li class="media">
						<div class="media__image">
							<svg class="icon icon--primary">
								<use xlink:href="images/sprite.svg#settings"></use>
							</svg>
						</div>
						<div class="media__body">
							<h3 class="media__title block--heading">Easy Start & Managed Updates</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea
								ipsum perferendis consequuntur eum tempora autem cumque
								architecto magni voluptatem at.
							</p>
						</div>
					</li>
					<li class="media">
						<div class="media__image">
							<svg class="icon icon--primary">
								<use xlink:href="images/sprite.svg#settings"></use>
							</svg>
						</div>
						<div class="media__body ">
							<h3 class="media__title block--heading">Easy Start & Managed Updates</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea
								ipsum perferendis consequuntur eum tempora autem cumque
								architecto magni voluptatem at.
							</p>
						</div>
					</li>
					<li class="media">
						<div class="media__image">
							<svg class="icon icon--primary">
								<use xlink:href="images/sprite.svg#settings"></use>
							</svg>
						</div>
						<div class="media__body">
							<h3 class="media__title block--heading">Easy Start & Managed Updates</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea
								ipsum perferendis consequuntur eum tempora autem cumque
								architecto magni voluptatem at.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>